body {
    font-weight: bold;
}

h1 {
    margin-top: .8em;
    font-size: 270%;
    font-weight: bold;
}

#quesActualBox {
    background-color: #ffffff;
    padding: 2em;
    margin: 2em;
    min-height: 90px;
    max-height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerBox {
    width: 150px;
}

.card {
    border: none;
}

.card-header {
    color: white;
    padding: 0rem 1.25rem;
    font-size: 150%;
    line-height: 1.2em    ;
}

.card-body {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    text-align: center;
}